@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body { 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: hsl(0, 0%, 95%); 
    font-weight: 400;
    font-size: 15px;
    font-family: 'Lexend Deca';
}

.card_group{
    overflow: hidden;
    border-radius: 10px;
}
.card_group .card{
    height: 100%;
    padding: 30px;
    display: inline-block;
}
.card_group .card:nth-child(1){
    background-color: hsl(31, 77%, 52%);
    
}
.card_group .card:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}
.card_group .card:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    
}
h1{
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family:'Big Shoulders Display';
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 80px;
}
.card_group .card .btn{
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    border: none;
    width: 90px;
    height: 28px;
}

.card_group .card:nth-child(1)>.btn{
    color: hsl(31, 77%, 52%);
}
.card_group .card:nth-child(2)>.btn{
    color: hsl(184, 100%, 22%);
}
.card_group .card:nth-child(3)>.btn{
    color: hsl(179, 100%, 13%);
}
.card_group .card .btn:hover{
    cursor: pointer;
    background-color: transparent;
    outline-style: solid;
    border: hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}
